- @title = "アカウント情報"
h1 = @title

.table-wrapper
  .links
    = link_to "アカウント情報編集", :edit_staff_account

  table.attributes
    tr
      th 氏名
      td
        = @staff_member.family_name
        = @staff_member.given_name
    tr
      th フリガナ
      td
        = @staff_member.family_name_kana
        = @staff_member.given_name_kana
    tr
      th メールアドレス
      td.email
        = @staff_member.email
    tr
      th 開始日
      td.date
        = @staff_member.start_date.strftime("%Y/%m/%d")