.notes
  span.mark *
  |印のついた項目は入力必須です

div
  = f.label :email, "メールアドレス", class: "required"
  = f.text_field :email, size: 32, required: true

- if f.object.new_record?
  div
    = f.label :password, "パスワード", class: "required"
    = f.password_field :password, size: 32, required: true

div
  = f.label :family_name, "氏名", class: "required"
  = f.text_field :family_name, required: true
  = f.text_field :given_name, required: true

div
  = f.label :email, "フリガナ", class: "required"
  = f.text_field :family_name_kana, required: true
  = f.text_field :given_name_kana, required: true

div
  = f.label :start_date, "開始日", class: "required"
  = f.text_field :start_date, required: true

div
  = f.label :end_date, "終了日"
  = f.text_field :end_date

div.check-boxes
  = f.check_box :suspended
  = f.label :suspended, "アカウント停止"
